<!-- File Konfigurasi Spring -->

<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"

       xsi:schemaLocation="http://www.springframework.org/schema/beans 
		  http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/context 
          http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/tx 
          http://www.springframework.org/schema/tx/spring-tx.xsd
          
          http://www.springframework.org/schema/data/jpa
          http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
">

<context:property-placeholder location="classpath*:jdbc.properties"/>
<context:component-scan base-package="net.smktarunabhakti.penjualan"></context:component-scan>
<jpa:repositories base-package="net.smktarunabhakti.penjualan.dao"></jpa:repositories>
<context:annotation-config></context:annotation-config>
<tx:annotation-driven/>

<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" 
	destroy-method="close" p:driverClassName="${jdbc.driver}"
	p:url="${jdbc.url}" 
	p:username="${jdbc.username}"
	p:password="${jdbc.password}"
	p:maxWalt="40000"
	p:maxActive="80"
	p:maxIdle="20"
/>
<bean class="org.springframework.orm.jpa.JpaTransactionManager" id="transactionManager">
<property name="entityManagerFactory" rel="entityManagerFactory"></property>
<property name="jpaDialect"></property>
<bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect"></bean>
</bean>

<!-- #Tambahan
	-http://www.springframework.org/schema/data/jpa
	-http://www.springframework.org/schema/data/jpa
    -http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
 -->
</beans>